<!--<mat-toolbar color="primary" class="demo-app-header">-->
<!--  <button mat-icon-button >-->
<!--    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>-->
<!--  </button>-->
<!--  <span>台中市教育局公開資料-CloudSchool 統計資料</span>-->
<!--</mat-toolbar>-->
<!--<mat-sidenav-container opened="true">-->
<!--  <mat-sidenav class="demo-app-sidenav" opened="true" #sideNav mode="push" (opened)="opened()" (closed)="closed()">-->
<!--    <mat-nav-list>-->
<!--      <h3 matSubheader>示範用頁面</h3>-->
<!--      <a [routerLink]="['/', 'dashboard', 'survey']" mat-list-item>問卷調查</a>-->
<!--      <a [routerLink]="['/', 'dashboard', 'blog']" mat-list-item>部落格</a>-->
<!--      <a [routerLink]="['/', 'dashboard', 'inbox']" mat-list-item>收件夾</a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<mat-toolbar color="primary" class="demo-app-header">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
  </button>

  <span>台中市教育局公開資料-CloudSchool 統計資料</span>

  <!-- 在這之後的都會被推到右邊去 -->
<!--  <span class="toolbar-seprator"></span>-->

<!--  <button mat-icon-button>-->
<!--    <mat-icon>exit_to_app</mat-icon>-->
<!--  </button>-->
</mat-toolbar>

<mat-sidenav-container class="demo-app-container">
  <mat-sidenav class="demo-app-sidenav" #sideNav mode="side" (opened)="opened()" (closed)="closed()">
    <mat-nav-list>
      <h3 matSubheader>資料取得頁面</h3>
      <a [routerLink]="['/student-number']" mat-list-item>學生資料統計</a>
      <!-- 另外一組選單 -->
      <mat-divider></mat-divider>
      <h3 matSubheader>參考資料</h3>
      <a href="http://www2.tc.edu.tw" mat-list-item>OpenData專區</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
        <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
